body{
    background-color: #DEDEDE;
    height: 200px;
    
}
#logo{
/* LOGO */

position: absolute;
width: 43px;
height: 24px;
left: 5px;
top: 3px;

font-family: 'Jomolhari';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* identical to box height */

color: #000000;


}

#aa{
/* Already have an account */

position: absolute;
width: 180px;
height: 13px;
left: 240px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 26px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;


}

#box{
/* Rectangle 47 */

position: absolute;
width: 340px;
height: 450px;
left: 45px;
top: 100px;

background: #C7D7E5;
font-family: 'Jomolhari';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;

}

#ca{
/* Create a free account */

position: relative;
width: 160px;
height: 24px;
align-items: center;
left: 100px;
top: 20px;
color: #000000;

}

.linebox{

    width: 250px;
    height: 50px;    
    color: #AC9999;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    left: 45px;
    top: 40px;
}
    
#rg{
background: #7AB8F1;
color: #000000;
font-family: 'Jomolhari';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;

}